@import './mixin.scss';
.container{
    position: relative;
    width: 1226px;
    margin-left: auto;
    margin-right: auto; 
}
a{
    img{
        width: 100%;
        height: 100%;
    }
}
input{
    outline: none;
    box-sizing: border-box;
    font-style: 14px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:before,.clearfix:after{  //防止塌陷和清除浮动
    content: ' ';
    display: table;
}
.clearfix:after{
    clear: both;
}
/*公共logo*/
.header-logo{
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #FF6600;
    a{
        display: inline-block;
        width: 110px;
        height: 55px;
        &:before{
            content: " "; //占位符
            @include bgImg(55px,55px,'/imgs/mi-logo.png',55px);
            transition: margin .2s;
        }
        &:after{
            content: " ";//占位符
            @include bgImg(55px,55px,'/imgs/mi-home.png',55px);
        }
        &:hover:before{
            margin-left: -55px;
            transition: margin .2s;
        }
    }
}